{% extends "proyects/base.html"%}
{% block content %}
<style type="text/css">

.codeIt{
	background-color: rgba(0,0,0,0.5);
	width: 90%;
	height: auto;
	margin: auto;
	border:  5px solid rgba(0,0,0,0.7);
	font-size: 15px;
	line-height: auto;

}

</style>
<form method="post" enctype="multipart/form-data">
<meta charset="UTF-8"> 

<center><p style="font-size: 50px">gpgforall</p></center>
<center><h1>keys and paswords not be recovery and no be stroge </h1></center>
	<div class="codeIt">
	
		<input type="submit" name="">
		<center>
			<div>
				file for encript/desencript  
				<input type="file" name="file">	
			</div>
			<hr>
		</center>
			<div>
				<center>
					<p>cifrate/desifate a mesage with cesar</p>
				</center>
				cifrate/descifrate text
				<input type="text" name="cesartext" style="width: 70%"  value=""> <br>
				key [defalt is random]
				<input type="text" name="key" value="{{htmlkey}}"style="width: 70%">  <br>
				result be<br>

				<input type="radio" id="cifrate" name="optioncesar" value="cifrate">
				<label for="cifrate">cifrate</label>
				<input type="radio" id="desifrate" name="optioncesar" value="desifrate">
				<label for="desifrate">desifrate</label>
				<br>
				if you need change chars
				<input type="text" name="chars"  style="width: 70%" value="{{charshtml}}">  <br>
				<p>result be like <h1>{{ resulthtml }}</h1></p>
				<p></p>
				<br>
 			</div>
 			<hr>
 				<div>
 				text to sha256
 				<center>
 					<input type="text" name="sha256" value=""  style="width: 70%" >  <br>
 				</center> 
 				<h1>{{returnsha}}</h1>
 				</div>
	</div>
<h1>help notes</h1>
<center>
	you need select
</center> 
 </form>
{% endblock %}