body {
	background-color: rgba(0,0,0,0.5);
color: orange;
}
* {
	margin:0px;
	padding:0px;
}


#header {
	margin:auto;
	width:100%;
	font-size: 14px;

}
/*este es esto no mas*/
ul, ol {
	list-style:none;
}

.bar > li {
	float:left;
}

.bar li a {
	background-color:orange;
	color:white;
	text-decoration:none;
	padding:10px 13.9px;
	display:block;
}

.bar li a:hover {
	background-color:yellow;
}

.bar li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.bar li:hover > ul {
	display:block;
}

.bar li ul li {
	position:relative;
}

.bar li ul li ul {
	right:-140px;

	top:0px;
}
/* i dont wait this work how i like */
