{% extends  'base.html'%}
{% block content %}
<center>
<h3>
<div>Para seguir la trayectoria:
<br>mira al maestro,
<br>sigue al maestro,
<br>camina junto con el maestro,
<br>mira a través del maestro,
<br>conviértete en el maestro.
</div>
<hr>

<div>
<br>To follow the path:
<br>look at the master,
<br>follow the master,
<br>walk together with the master,
<br>look through the master,
<br>become the master.
</div>

<hr>
<div>
<center>
	

<p>[['._' '._' '._' '._' '._' '._' '._' '._' '@' '._' '._' '._' '._' '._' '._' '._' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '@' '@' '@' '@' '._' '._' '._' '._' '._' '._' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '@' '@' '@' '@' '@' '._' '._' '._' '._' '._' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '@' '@' '@' '@' '@' '._' '._' '._' '._' '._' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '._' '@' '@' '@' '._' '._' '._' '._' '._' '._' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '@' '@' '._' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '@' '@' '@' '@' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '@' '@' '@' '@' '@']</p>
<p> ['._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '@' '@' '@' '@' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '@' '@' '@' '._']</p>
<p> ['._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._' '._']</p>
<p> ['._' '@' '@' '@' '._' '._' '._' '@' '@' '@' '._' '._' '._' '@' '@' '@' '._']</p>
<p> ['@' '@' '@' '@' '@' '._' '@' '@' '@' '@' '@' '._' '@' '@' '@' '@' '._']</p>
<p> ['@' '@' '@' '@' '@' '._' '@' '@' '@' '@' '@' '._' '@' '@' '@' '@' '@']</p>
 <p>['._' '@' '@' '@' '@' '._' '._' '@' '@' '@' '._' '._' '@' '@' '@' '@' '._']</p>
 <p>['._' '._' '@' '._' '._' '._' '._' '._' '@' '._' '._' '._' '._' '._' '@' '._' '._']]</p>
<p>[['-' '-' '-' '-' '-' '-' '-' '#' '-' '-' '-' '-' '-' '-' '-']</p>
 <p>['-' '-' '-' '-' '#' '#' '#' '#' '#' '#' '#' '-' '-' '-' '-']</p>
<p> ['-' '-' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '-' '-']</p>
<p> ['-' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '-']</p>
<p> ['-' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '-']</p>
<p> ['#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#' '#']</p>
<p> ['#' '#' '#' '#' '#' '#' '-' '-' '-' '#' '#' '#' '#' '#' '#']</p>
<p> ['#' '#' '#' '#' '#' '-' '-' '-' '-' '-' '#' '#' '#' '#' '#']</p>
<p> ['#' '#' '#' '#' '#' '-' '-' '-' '-' '-' '#' '#' '#' '#' '#']</p>
<p> ['#' '#' '#' '#' '#' '#' '-' '-' '-' '#' '#' '#' '#' '#' '#']</p>
 <p>['#' '#' '#' '#' '#' '#' '-' '-' '-' '#' '#' '#' '#' '#' '#']</p>
 <p>['-' '#' '#' '#' '#' '#' '.-' '-' '-.' '#' '#' '#' '#' '#' '-']</p>
 <p>['-' '#' '#' '#' '#' '-' '-' '-' '-' '-' '#' '#' '#' '#' '-']</p>
 <p>['-' '-' '#' '#' '#' '-' '-' '-' '-' '-' '#' '#' '#' '-' '-']</p>
 <p>['-' '-' '-' '-' '-' '-' '-' '-' '-' '-' '-' '-' '-' '-' '-']]</p>
<p>[['"' '"' '"' '"' '"' '"' '@' '@' '"' '"' '"' '"' '"' '"' '"']</p>
 <p>['"' '"' '"' '"' '"' '"' '@' '@' '@' '"' '"' '"' '"' '"' '"']</p>
 <p>['"' '"' '"' '@' '@' '"' '@' '@' '@' '"' '@' '@' '"' '"' '"']</p>
 <p>['"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"']</p>
 <p>['"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"']</p>
 <p>['"' '"' '"' '@' '@' '@' '@' '@' '@' '@' '@' '@' '"' '"' '"']</p>
 <p>['"' '"' '"' '@' '@' '@' '@' '"' '@' '@' '@' '@' '"' '"' '"']</p>
 <p>['"' '@' '@' '@' '@' '@' '"' '"' '"' '@' '@' '@' '@' '@' '"']</p>
 <p>['"' '@' '@' '@' '@' '@' '"' '"' '"' '@' '@' '@' '@' '@' '"']</p>
 <p>['"' '@' '@' '@' '@' '@' '"' '"' '"' '@' '@' '@' '@' '@' '"']</p>
 <p>['"' '"' '"' '@' '@' '@' '@' '"' '@' '@' '@' '@' '"' '"' '"']</p>
 <p>['"' '"' '"' '@' '@' '@' '@' '"' '@' '@' '@' '@' '"' '"' '"']</p>
 <p>['"' '"' '"' '@' '@' '@' '@' '"' '@' '@' '@' '@' '"' '"' '"']</p>
 <p>['"' '"' '@' '@' '@' '@' '"' '"' '"' '@' '@' '@' '@' '"' '"']</p>
 <p>['"' '"' '"' '@' '@' '"' '"' '"' '"' '"' '@' '@' '"' '"' '"']]</p>


<br>
 simbols of creativity
<br>
 simbolos de cratividad
<br>
</center>	
<hr>
<br>
<p>muchas veces no suena eco</p>

<p>y cuando nesitamos respuesta</p>
<br>

:.------------------------------------------------.:
<br>

<p> often does not sound echo </p>
<p> and when we need an answer </p>
<br>

<hr>
<br>

nos han eseñado a depender <br>de los demas sin que lo nesesitemos<br> solo para hacernos  sentir merjor<br>
<br>
:.------------------------------------------------.:
<br>
they have taught us to depend<br> on others without us needing<br> it just to make us feel better<br>
<br>
<hr>
<br>
el desorden es otra forma<br> de enteder y hacer  las cosas
<br>
<br>
:.------------------------------------------------.:

<br>
disorder is another way <br>of understanding and doing things<br>
</div>
</h3>
</center>
 {% endblock  %}
